<div class="login">
  <h1>QAware</h1>
  <%= form_tag("/login", :method => "post") do %>
    <%= text_field_tag :name, nil, placeholder: :Name, class: "form-control" %><br>
    <%= password_field_tag :password, nil, placeholder: :Password, class: "form-control"%><br>
    <%= submit_tag :Login, class: "btn btn-hg btn-primary" %>
  <% end %>
</div>
