<div class="container">
  <h1>Welcome to QA-ware</h1>

  <h3>Login</h3>

  <%= form_tag("/login", :method => "post") do %>
  <div class="form-group">
    <%= text_field_tag :name, nil, placeholder: :name %><br>
  </div>
  <div class="form-group">
    <%= password_field_tag(:password, nil, placeholder: :password)%><br>
  </div>
    <%= submit_tag(:login) %>
  <% end %>
</div>
