<div class="link_buttons">
    <h4>
      <%= link_to "Location Status", beacons_path, class: "btn btn-hg btn-primary" %>
      <%= link_to "Completed Inspections", completed_forms_path, class: "btn btn-hg btn-primary" %>
      <%= link_to "View Employees", employees_path, class: "btn btn-hg btn-primary" %>
      <%= link_to "View Graphs", graphs_path, class: "btn btn-hg btn-primary" %>
    </h4>
  </div>
