<div class="index_page">
  <h4> <%= link_to "View Employees", employees_path, class: "btn btn-hg btn-primary" %> <%= link_to "Add an Employee", new_employee_path, class: "btn btn-hg btn-primary" %></h4>
  <h2>Completed Forms</h2>

    <% @completed_forms.each do |completed| %>
    <ul>
      <li><%= link_to "#{completed.date} - #{completed.time} : #{completed.title}", completed_form_path(completed) %></li>
    </ul>
    <% end %>

	<div class="chart"></div>
</div>
