<div class="container">
  <h4> <%= link_to "View Employees", employees_path %> | <%= link_to "Add an Employee", new_employee_path %></h4>
  <h2>Completed Forms</h2>
  <ul>
    <% @completed_forms.each do |completed| %>
      <li>
        <%= link_to "#{completed.date} - #{completed.time} : #{completed.title}", completed_form_path(completed) %>
      </li>
    <% end %>
  </ul>

	
	

</div>
