<div class="page">
  <div class="welcomepage">
    <h1>QAware</h1><br>
    <% @forms.each do |form| %>
      <h3>
        <%= link_to "#{form.title}", form_path(form), class: 'button' %><br><br>
      </h3>
    <% end %>
  </div>
</div>
