* {
  color: #8E44AD;
}

a {
  color: #8E44AD;
}

.table td {
  color: white;
}

.table th {
  color: white;
  font-weight: bold;
}

.link_buttons {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
}

.employee_index {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  -webkit-border-radius: 5px;
  border-color: #8E44AD;
  border: solid 1px;
  background-color: #8E44AD;
  color: white;
}

a:hover {
  color: #8E44AD;
}

.form_show {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #8E44AD;
  padding: 1em;
  -webkit-border-radius: 5px;
}

.new_form {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.index_page {
  color: #8E44AD;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}

.welcomepage {
  color: #8E44AD;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}

.new_employee {
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 3rem 0 2rem;
}

nav span {
  float: right;
  padding: 0 2rem;
}

// nav a:hover {
//   color: black;
// }

// th {
//   font-weight: bold;
// }
